<header>
    <nav class="navbar navbar-expand-md navbar-dark justify-content-between">

      <!--Brand Icon Top Left-->
      <div>
        <a class="navbar-brand mb-0 h1" href="/">bucket.map()!</a>
      </div>

      <% if (user) { %>
        <form class="form-inline" action="/users/logout" method="POST">

          <!--Collapsible content-->
          <div class="collapse navbar-collapse" data-target="#navbarSupportedContent">
            <span class="navbar-text text-white mx-2">Welcome, <%= user.name %>!</span>
          </div>
      <% } %>

      <% if (!user) { %>
        <form class="form-inline" action="/users/login/1" method="POST">
          <button type="submit" class="btn btn-secondary">Login</button>
      <% } else { %>
          <button type="submit" class="btn btn-secondary">Logout</button>
      <% } %>
        </form>

    </nav>
  </header>
