<header>
    <nav class="navbar navbar-expand-md navbar-dark justify-content-between">
      <a class="navbar-brand" href="/"><strong>bucket.map()!</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/lists/create">Create a new list</a></li>
        </ul>
        <% if (user) { %>
        <span class="mr-4 text-white">Welcome, <%= user.name %>!</span>
        <form class="form-inline" action="/users/logout" method="POST">
        <% } %>
        <% if (!user) { %>
        <form class="form-inline" action="/users/login/1" method="POST">
          <button type="submit" class="btn btn-secondary">Login</button>
        <% } else { %>
          <button type="submit" class="btn btn-secondary">Logout</button>
        <% } %>
        </form>
      </div>
    </nav>
  </header>
