<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>bucket! Lists for your Life.</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/e4ebe3d9ea.js" crossorigin="anonymous"></script>

  </head>

  <body>

    <!--Import navbar header-->
    <%- include('./partials/_header') %>

    <!--Main logo-->
    <div class="container text-center my-3">
      <img src="./assets/bucket_logo.png" class="my-2 w-50" alt="bucket.map() logo"><br>
    </div>

    <!-- Create new Map form -->
    <section>

      <!-- Button to add new list of points -->
      <div class="my-3 create-map-button-container">
        <div id="new-list-form-toggler" class="btn btn-purple text-white">
          <span>Create a new map! </span>
          <svg id="up-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
          <svg id="down-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
        </div>
      </div>

      <!-- Hidden Form -->
      <div class="submit-new-list my-3">
        <form class="new-map" action="/lists/create" method="POST">

          <div class="form-group">
            <input required name="title" type="text" class="form-control" id="newListTitle" placeholder="Title">
          </div>

          <div class="form-group">
            <textarea required name="description" class="form-control" id="newListDesc" placeholder="Description"></textarea>
          </div>

          <div class="create-map-button-container">
            <button class="btn btn-purple text-white my-2">Create Map!</button>
          </div>

        </form>
      </div>
    </section>

    <!--Favourites Table-->
    <div class="container">
      <h4>Favourites</h4>
      <table class="table">
        <tbody id="favs-container">
        </tbody>
      </table>
    </div>

    <!--My Maps Table-->
    <div class="container">
      <h4>My Maps</h4>
      <table class="table">
        <tbody id="my-maps-container">
        </tbody>
      </table>
    </div>

    <!--My Contributions Table-->
    <div class="container">
      <h4>My Contributions</h4>
      <table class="table">
        <tbody id="my-contributions-container">
        </tbody>
      </table>
    </div>

    <!--Other Lists Table-->
    <div class="container">
      <h4>Explore Other Lists</h4>
      <table class="table">
        <tbody id="all-maps-container">
        </tbody>
      </table>
    </div>

  </body>
</html>
