<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>bucket! Lists for your Life.</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/e4ebe3d9ea.js" crossorigin="anonymous"></script>

  </head>

  <body>

    <!--Import navbar header-->
    <%- include('./partials/_header') %>

    <!--Main logo and button to make new map-->
    <div class="container text-center my-3">
      <img src="./assets/bucket_logo.png" class="my-2 w-50" alt="bucket.map() logo">
      <form>
        <button id="create-map-button" class="btn btn-purple text-white my-2">Create a new map!</button>
      </form>

    <!-- Create new Map form -->
    <form action="/lists" id="create-new-list">
      <textarea name="title" placeholder="Title"></textarea>
      <textarea name="description" placeholder="Description"></textarea>

        <input class="btn btn-purple text-white my-2" type="submit" value="Create">


    </div>

    <!--Favourites Table-->
    <div class="container">
      <h4>Favourites</h4>
      <table class="table">
        <section id="favs-container">
        </section>
      </table>
    </div>

    <!--My Maps Table-->
    <div class="container">
      <h4>My Maps</h4>
      <table class="table">
        <section id="my-maps-container">
        </section>
      </table>
    </div>

    <!--My Contributions Table-->
    <div class="container">
      <h4>My Contributions</h4>
      <table class="table">
        <section id="my-contributions-container">
        </section>
      </table>
    </div>

    <!--Other Lists Table-->
    <div class="container">
      <h4>Explore Other Lists</h4>
      <table class="table">
        <section id="all-maps-container">
        </section>
      </table>
    </div>

  </body>
</html>
