<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>bucket! Lists for your Life.</title>

    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy_IDF1mSWDBrRnP-2VFToDQcwUl4LcvA&libraries=places"></script>
    <script type="text/javascript" src="/scripts/autosize.js"></script>
    <script type="text/javascript" src="/scripts/common.js"></script>
    <script type="text/javascript" src="/scripts/ajax.js"></script>
    <script type="text/javascript" src="/scripts/list.js"></script>
    <script type="text/javascript" src="/scripts/map.js"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>

    <script>
      //puts the list Id from the URL into the global scope for use across functions
      const listId = <%= listId %>;
    </script>
  </head>

  <body>

    <!--Import navbar header-->
    <%- include('./partials/_header') %>

    <!--Search/Add Bar-->
    <div class="container-fluid py-3 second-header">
      <form class="active-purple-3 active-purple-4">
        <div class="row align-items-center">
          <div class="col-8">
            <input id="autocomplete" class="form-control form-control-sm" type="text" placeholder="Search"
            aria-label="Search">
          </div>
          <div class="col-auto">
            <svg id="search-button" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search mx-2"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            <button class="btn btn-purple add-point-dropdown">Add Point</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Create new Point form -->
    <section class="add-new-point">
      <form class="form-row new-point" action="/points/<%= listId %>/add" type="submit">
        <div class="form-group col-md-6">
          <label class="form-header">Title</label>
          <input required name="title" type="text" class="form-control form-title" placeholder="Title">
        </div>
        <div class="form-group col-md-6">
          <label class="form-header">Description</label>
          <textarea required name="description" class="form-control form-description" placeholder="Description"></textarea>
        </div>
        <div class="form-group col-md-6">
          <label class="form-header">Image Url</label>
          <input required name="imgUrl" class="form-control form-img-url" placeholder="Image URL">
        </div>
        <div class="form-group col-md-3">
          <label class="form-header">Latitude</label>
          <input required name="latitude" class="form-control form-latitude" placeholder="Latitude">
        </div>
        <div class="form-group col-md-3">
          <label class="form-header">Longitude</label>
          <input required name="longitude" class="form-control form-longitude" placeholder="Longitude">
        </div>
            <button id="add-point-button" class="form-group col-md-1.75 btn btn-purple text-white my-2">Add Point!</button>
      </form>
    </section>

    <!--Map Embed-->
    <div id="map"></div>

    <!--Map Title/Desc -->
    <div class="container title-header">
      <div class="title-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart heart-icon"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
        <span id="list-title">
          TITLE
        </span>
      </div>
      <h6 id="list-desc">
        DESCRIPTION
      </h6>
      <p id="list-owner">
        OWNER
      </p>
      <hr>
    </div>

    <!-- Map Points -->
    <div class="container map-points">
      <h2>Points of Interest</h2>
      <div id="point-card-list" class="card-columns">

      </div>
    </div>
  </body>
</html>
