// See: https://sass-lang.com/

$brand-dark-purple: #3C1642;
$brand-purple: #660875;

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  nav.navbar {
    background-color: $brand-dark-purple;
  }
}

.btn-dark-purple {
  background-color: $brand-dark-purple;
}

.btn-purple {
  background-color: $brand-purple;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
