// See: https://sass-lang.com/

$brand-dark-purple: #3C1642;
$brand-purple: #660875;

[type="submit"] {
  -webkit-appearance: none; /* 2 */
}

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  nav.navbar {
    //background-color: $brand-dark-purple;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,22,66,1) 35%, rgba(210,186,214,1) 100%);
  }

  .navbar-text {
    font-weight: 500;
  }

  .header-section {
    background-image: url(http://www.transparenttextures.com/patterns/bright-squares.png);
    padding-bottom: 1vh;
  }
}

//lists
.title-container {
  display: flex;
  align-items: center;
}

#list-title {
  font-size: 2.5rem;
}

.heart-icon {
  margin: 5px 15px 0px 5px;
}

.card-title {
  color: black;
  font-weight: 600;
}

// Basic Button Classes
.btn-dark-purple {
  background-color: $brand-dark-purple;
}

.btn-purple {
  background-color: $brand-purple;
}

//Map container
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

//Create Map Form
.create-map-button-container {
  display: flex;
  justify-content: center;
}

.submit-new-list, #up-arrow, .up-arrow {
  display: none;
}

.table td {
  margin: 0 auto;
  width: 50%;
}

form.new-map {
  margin: 1vw;
}

form .form-header {
  font-weight: bold;
  text-align: center;
}

.form-control {
  width: 80%;
  margin: auto;
}

//Deleting points from a list and editing points on a list
.delButtonContainer {
  top: 6px;
  right: 6px;
  height: 30px;
  width: 30px;
}

.delButtonBacking {
  border-radius: 12px;
  background-color: #FFFFFF;
  opacity: 50%;
  height: 24px;
  width: 24px;
  transition: opacity 0.2s, width 0.2s, height 0.2s, border-radius 0.2s;
}

.delButtonBacking:hover {
  opacity: 70%;
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.edit-button-container   {
  bottom: 6px;
  right: 6px;
  height: 30px;
  width: 30px;
}

.editButton {
  opacity: 40%;
  color: brown;
  transition: opacity 0.2s;
}

.editButton:hover {
  opacity: 80%;
}

.point-not-editable {
  //border: 1px solid black;
}

.point-not-editable:focus {
  outline: 0px;
}

.point-editable {
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
}

//Adding a new point to list
.second-header {
  background-image: url(http://www.transparenttextures.com/patterns/bright-squares.png);
}

.new-point {
  display: flex;
  justify-content: center;
  width: 65%;
  margin: 0 auto;
}

.add-new-point {
  width: 100%;
  text-align: center;
  display: none;
  background-image: url(http://www.transparenttextures.com/patterns/bright-squares.png);
}

.add-point-dropdown {
  color: white;
}

#add-point-button {
  margin-top: 1vw;
  padding: 0.5rem;
}

//For favouriting hearts
.favourited-heart {
  color: red;
  fill: red;
}

@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 48em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

@media (min-width: 62em) {
  .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
  }
}

@media (min-width: 75em) {
  .card-columns {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
  }
}

.card-text {
  border:0;
}

.favourited-heart:hover {
  animation: beat 1.5s infinite alternate;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
}
